In [13]:
#Assignment
# Assign a value to the variable my_apples
my_apples <- 5 
# Fix the assignment of my_oranges
my_oranges <- 6
# Create the variable my_fruit and print it out
my_fruit <- (my_apples + my_oranges)
my_fruit
# Change my_numeric to be 42
my_numeric <- 42.5
my_numeric
# Change my_character to be "universe"
my_character <- "universe"
my_character
# Change my_logical to be FALSE
my_logical <- FALSE
my_logical

[1] 11

[1] 42.5

[1] "universe"

[1] FALSE

In [17]:
# DataType
# Declare variables of different types
my_numeric <- 42
my_character <- "universe"
my_logical <- FALSE 
# Check class of my_numeric
class(my_numeric)
# Check class of my_character
class(my_character)
# Check class of my_logical
class(my_logical)
vegas <- "R"
vegas
class(vegas)

[1] "numeric"

[1] "character"

[1] "logical"

[1] "R"

[1] "character"

In [20]:
# combine c()
numeric_vector <- c(1, 10, 49)
character_vector <- c("a", "b", "c")
# Complete the code for boolean_vector
boolean_vector <- c(TRUE,FALSE,TRUE)

numeric_vector
character_vector
boolean_vector

[1]  1 10 49

[1] "a" "b" "c"

[1]  TRUE FALSE  TRUE

In [4]:
# Assign names to a vector
# Poker winnings from Monday to Friday
poker_vector <- c(140, -50, 20, -120, 240)

# Roulette winnings from Monday to Friday
roulette_vector <- c(-24, -50, 100, -350, 10)

# Assign days as names of poker_vector
names(poker_vector) <- c("Monday", "Tuesday", "Wednesday", "Thursday", "Friday")

# Assign days as names of roulette_vectors
names(roulette_vector) <- c("Monday", "Tuesday", "Wednesday", "Thursday", "Friday")

roulette_vector
poker_vector

days_vector <- c("Monday", "Tuesday", "Wednesday", "Thursday", "Friday")
names(poker_vector) <- days_vector
names(roulette_vector) <- days_vector

poker_vector
roulette_vector

   Monday   Tuesday Wednesday  Thursday    Friday
      -24       -50       100      -350        10

   Monday   Tuesday Wednesday  Thursday    Friday
      140       -50        20      -120       240

   Monday   Tuesday Wednesday  Thursday    Friday
      140       -50        20      -120       240

   Monday   Tuesday Wednesday  Thursday    Friday
      -24       -50       100      -350        10

In [5]:
# Add two vectors
A_vector <- c(1, 2, 3)
B_vector <- c(4, 5, 6)

# Take the sum of A_vector and B_vector
total_vector <-  A_vector  + B_vector
  
# Print out total_vector
total_vector

[1] 5 7 9

In [6]:
# Sum of elements of a vector
Sum_a <- sum(A_vector)
Sum_a

[1] 6

In [9]:
# select a subset of vector
poker_vector <- c(140, -50, 20, -120, 240)

# Define a new variable based on a selection
poker_midweek <- poker_vector[c(2,3,4)]
poker_midweek

[1]  -50   20 -120

In [5]:
# select a subset
vector <- c ( 3, 4, 5, 6, 1, 0)
select <- vector > 4
## select a subset which are greater than 4
vector[select]
## select when values are not equal to 4
vector[vector!=4]

[1] 5 6

[1] 3 5 6 1 0

In [10]:
#create a matrix 3 rows.
matrix(1:9, byrow= TRUE, nrow =3)
       
#create a matrix fill by col
matrix(1:9, byrow = FALSE, ncol =3)

     [,1] [,2] [,3]
[1,] 1    2    3
[2,] 4    5    6
[3,] 7    8    9

     [,1] [,2] [,3]
[1,] 1    4    7
[2,] 2    5    8
[3,] 3    6    9

In [13]:
# Box office Star Wars (in millions!)
new_hope <- c(460.998, 314.4)
empire_strikes <- c(290.475, 247.900)
return_jedi <- c(309.306, 165.8)

# Construct matrix
star_wars_matrix <- matrix(c(new_hope, empire_strikes, return_jedi), nrow = 3, byrow = TRUE)

# Vectors region and titles, used for naming
region <- c("US", "non-US")
titles <- c("A New Hope", "The Empire Strikes Back", "Return of the Jedi")

# Name the columns with region
colnames(star_wars_matrix) <- region

# Name the rows with titles
rownames(star_wars_matrix) <- titles

# Print out star_wars_matrix
star_wars_matrix

                        US      non-US
A New Hope              460.998 314.4
The Empire Strikes Back 290.475 247.9
Return of the Jedi      309.306 165.8

In [25]:
# row sums
box_office <- c(460.998, 314.4, 290.475, 247.900, 309.306, 165.8)
star_wars_matrix <- matrix(box_office, nrow = 3, byrow = TRUE,
                           dimnames = list(c("A New Hope", "The Empire Strikes Back", "Return of the Jedi"), 
                                           c("US", "non-US")))
star_wars_matrix
# Calculate worldwide box office figures
worldwide_vector <- rowSums(star_wars_matrix)
worldwide_vector


## join two matrixes by row
star_wars_matrix <- cbind(star_wars_matrix,worldwide_vector)
star_wars_matrix


new <- rbind(star_wars_matrix,star_war_matrix2)

                        US      non-US
A New Hope              460.998 314.4
The Empire Strikes Back 290.475 247.9
Return of the Jedi      309.306 165.8

             A New Hope The Empire Strikes Back      Return of the Jedi
                775.398                 538.375                 475.106

                        US      non-US worldwide_vector
A New Hope              460.998 314.4  775.398
The Empire Strikes Back 290.475 247.9  538.375
Return of the Jedi      309.306 165.8  475.106

ERROR: Error in rbind(star_wars_matrix, star_war_matrix2): object 'star_war_matrix2' not found

In [29]:
"select a subset of matrix"
"select second row"
star_wars_matrix[2,]
"select second colum"
star_wars_matrix[,2]

[1] "select a subset of matrix"

[1] "select second row"

              US           non-US worldwide_vector
         290.475          247.900          538.375

[1] "select second colum"

             A New Hope The Empire Strikes Back      Return of the Jedi
                  314.4                   247.9                   165.8